@{
    Layout = "~/Views/Shared/BooksLayout.cshtml";
}

@****tell the model type ****@
@using Digital_Library.Models;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>More Detail</title>

    <!mincss files>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />


    <style>
        .login {
            margin: 0 auto;
            max-width: 500px;
        }

        .login-header {
            color: #fff;
            text-align: center;
            font-size: 300%;
        }

            .login-header h1 {
                text-shadow: 0px 5px 15px #000;
            }

        .login-form {
            border: 2px solid #999;
            background: #2c3e50;
            border-radius: 10px;
            box-shadow: 0px 0px 10px #000;
        }

            .login-form h3 {
                text-align: left;
                margin-left: 40px;
                color: #fff;
            }

        .login-form {
            box-sizing: border-box;
            padding-top: 15px;
            margin: 50px auto;
            text-align: center;
            overflow: hidden;
        }

        .login input[type="text"],
        .login input[type="password"] {
            width: 100%;
            max-width: 400px;
            height: 30px;
            font-family: 'Ubuntu', sans-serif;
            margin: 10px 0;
            border-radius: 5px;
            border: 2px solid #f2f2f2;
            outline: none;
            padding-left: 10px;
        }

        .login-form input[type="button"] {
            height: 30px;
            width: 100px;
            background: #fff;
            border: 1px solid #f2f2f2;
            border-radius: 20px;
            color: slategrey;
            text-transform: uppercase;
            font-family: 'Ubuntu', sans-serif;
            cursor: pointer;
        }

        .sign-up {
            color: #f2f2f2;
            margin-left: -400px;
            cursor: pointer;
            text-decoration: underline;
        }

        .no-access {
            color: #E86850;
            margin: 20px 0px 20px -300px;
            text-decoration: underline;
            cursor: pointer;
        }

        .try-again {
            color: #f2f2f2;
            text-decoration: underline;
            cursor: pointer;
        }
    </style>

</head>

<body>
    <div class="login">
        <div class="login-header">
            <h1><font style="font-family:'Brush Script MT';font-size:2cm">Update Book</font></h1>
        </div>

        <div style="color:whitesmoke;color:black">
            <table border="1" style="border:groove;border-width:10px" class="table table-bordered">
                <thead style="font-style:bold;font-size:0.5cm;border-bottom:groove">
                    <tr>

                        <td>
                           ID
                        </td>
                        <td>
                            Book Name
                        </td>
                        <td>
                           Writer Name
                        </td>
                        <td>
                            Category
                        </td>
                        
                    </tr>
                </thead>

                <tr>
                    <td>@Model.Id</td>
                    <td>@Model.BName</td>
                    <td>@Model.BWriter</td>
                    <td>@Model.CategoryName</td>
                   



                </tr>



            </table>
        </div>
        <br />

        <form action="/Admin/UpdateBook" method="post">
            <input type="text" name="Id" id="Id" style="width:200px;height:40px" value="@Model.Id" />

            <br />

            <input type="text" name="BName" id="BName"  style="width:200px;height:40px" value="@Model.BName" />

            <br />
            <input type="text" name="WName" id="WName"  style="width:200px;height:40px" value="@Model.BWriter" />
            <br />
            <input type="text" name="CName" id="CName"  style="width:200px;height:40px" value="@Model.CategoryName" />
            <br />
           
            <input type="submit" class="btn btn-primary" value="Update Detail" style="width:130px;height:40px" />
        </form>







        <br />
        <br />
        <br />

    </div>





    <!js files>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/dropdown.js"></script>
    <script src="~/Scripts/button.js"></script>
    <script src="~/Scripts/carousel.js"></script>
    <script src="~/Scripts/collapse.js"></script>

</body>
</html>
